<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
  
	<YaomaStorytellersSettings>Yaoma Storytellers (Standalone)</YaomaStorytellersSettings>
	<YS_SettingsDeathlessDaji>Deathless Daji</YS_SettingsDeathlessDaji>
	<YS_SettingsKaiyiKarmic>Kaiyi the Karmic</YS_SettingsKaiyiKarmic>
	<YS_SettingsFarseerFan>Farseer Fan</YS_SettingsFarseerFan>

	<YS_SettingsDajiResurrectMechs>Disable mech resurrection: {0}</YS_SettingsDajiResurrectMechs>
	<YS_SettingsDajiResurrectMechsTooltip>Prevent Deathless Daji to resurrect mechanoids in addition to flesh and bone pawns.</YS_SettingsDajiResurrectMechsTooltip>
	<YS_SettingsDajiResurrectWeapons>Disable weapon retrieval: {0}</YS_SettingsDajiResurrectWeapons>
	<YS_SettingsDajiResurrectWeaponsTooltip>Prevent pawns from retrieving a weapon in their immediate vicinity upon resurrection.</YS_SettingsDajiResurrectWeaponsTooltip>
	<YS_SettingsDajiCrimsonSeverityGain>Crimson Psychosis severity gain: {0}</YS_SettingsDajiCrimsonSeverityGain>
	<YS_SettingsDajiCrimsonSeverityGainTooltip>Alter how far a pawn's Crimson Psychosis progresses upon his or her resurrection by Daji.</YS_SettingsDajiCrimsonSeverityGainTooltip>
	
	<YS_SettingsFanGrace>Grace period: {0}</YS_SettingsFanGrace>
	<YS_SettingsFanGraceTooltip>The minimum in-game days before Farseer Fan begins to tell the future at the start of the game.\n\nIncreasing this value will cause Farseer Fan to take longer at the start of the game before she starts predicting incidents (i.e. from one day to four days). Decreasing this value will shorten the period of time at the start of the game before she predicts any incidents.\n\nWARNING! It is not recommended to set this value too low- it will force only diseases to be predicted.</YS_SettingsFanGraceTooltip>
	<YS_SettingsFanPredict>Max prediction period: {0}</YS_SettingsFanPredict>
	<YS_SettingsFanPredictTooltip>Defines the maximum time Farseer Fan can forecast out.\n\nIncreasing this can cause Farseer Fan to predict incidents that are farther in the future (i.e. from five days to 15 days), while decreasing it limits how far.\n\nWARNING! It is not recommended to set this value too high, as it can cause long periods without any incidents. Likewise, setting this too low can force incidents to occur too frequently.</YS_SettingsFanPredictTooltip>
	<YS_SettingsFanPredictDetail>Add hours to predictions: {0}</YS_SettingsFanPredictDetail>
	<YS_SettingsFanPredictDetailTooltip>Make predictions more specific by adding which hour an incident will occur.</YS_SettingsFanPredictDetailTooltip>

	<YS_SettingsKaiyiStart>Initial karma: {0}</YS_SettingsKaiyiStart>
	<YS_SettingsKaiyiStartTooltip>The amount of karma a player starts with in a game. Only works when beginning the game with Kaiyi.</YS_SettingsKaiyiStartTooltip>
	<YS_SettingsKaiyiCostFactor>Fate cost factor: {0}x</YS_SettingsKaiyiCostFactor>
	<YS_SettingsKaiyiCostFactorTooltip>A multiplier on incident prices.</YS_SettingsKaiyiCostFactorTooltip>
	<YS_SettingsKaiyiPointFactorPos>Positive karma scaling factor: {0}x</YS_SettingsKaiyiPointFactorPos>
	<YS_SettingsKaiyiPointFactorPosTooltip>Alters the extent of the effect of positive karma on a incident's points, if it uses it.</YS_SettingsKaiyiPointFactorPosTooltip>
	<YS_SettingsKaiyiPointFactorNeg>Negative karma scaling factor: {0}x</YS_SettingsKaiyiPointFactorNeg>
	<YS_SettingsKaiyiPointFactorNegTooltip>Alters the extent of the effect of negative karma on a incident's points, if it uses it.</YS_SettingsKaiyiPointFactorNegTooltip>

</LanguageData>